.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0px 175px;
}
.home h1{
    color: #171717;
    font-weight: 600;
    font-size: 50px;
}
.home hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.home-item{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.home-blog{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
}
.banner{
    padding-bottom: 100px;
}

.custom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.custom-prev-arrow {
    left: 10px;
}

.custom-next-arrow {
    right: 10px;
}

.arrow-size{
    width: 40px;
    background: rgba(245, 245, 245, 0.599);
    border: none;
    border-radius: 7px;
}

@media only screen and (max-width: 1320px){
    .home{
        gap: 15px;
    }
    .home h1{
        font-size: 38px;
    }
    .home hr{
        width: 150px;
        height: 5px;
        border-radius: 8px;
    }
    .home-item{
        margin-top: 30px;
    }
    .home-blog{
        margin-top: 30px;
    }
    .home-blog img{
        width: 300px;
        height: 200px;
    }
    .banner{
        padding-bottom: 100px;
    }
    
    .arrow-size{
        width: 30px;
    }
}
@media only screen and (max-width: 1090px){
    .home{
        gap: 10px;
    }
    .home h1{
        font-size: 28px;
        text-align: center;
    }
    .home hr{
        width: 130px;
        height: 3px;
        border-radius: 5px;
    }
    .home-item{
        margin-top: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .home-blog{
        margin-top: 20px;
    }
    .home-blog img{
        width: 250px;
        height: 150px;
    }
    .banner{
        padding-bottom: 80px;
    }
    .arrow-size{
        width: 25px;
    }
}
@media only screen and (max-width: 800px){
    .home-blog{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .home-blog{
        margin-top: 10px;
    }
    .home-blog img{
        width: 400px;
        height: 250px;
    }
    .home-blog h4{
        font-size: 13px;
    }
    .home-item{
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 600px){
    .home{
        gap: 10px;
        margin: 0px 30px;
    }
    .home h1{
        font-size: 24px;
    }
    .home hr{
        width: 100px;
        height: 2px;
        border-radius: 5px;
        background: #252525;
    }
    .home-item{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .custom-prev-arrow {
        left: 5px;
    }
    
    .custom-next-arrow {
        right: 5px;
    }
    .arrow-size{
        width: 20px;
    }
}