.allCollections{
    text-align: center;
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.allCollections1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 13px;
}