.search{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.search-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.path{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 175px;
    text-transform: capitalize;
}
.banner{
    padding-bottom: 30px;
}