.modal-login, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
}

.modal-login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 38px;
    font-size: 16px;
    transition: opacity 0.5s ease-out;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow for a card-like effect */
    z-index: 1; 
    cursor: pointer;
    
    
}
.close-modal {
    position: absolute;
    font-size: 20px;
    color: black;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .modal-login-content {
        padding: 15px 28px;
        font-size: 14px;  
    }
    .close-modal {
        font-size: 18px;
    }
}